// GLOBAL STYLES //

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oxanium', cursive;
}

body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #05121f;
    // background-color: green;
}

// OUTER DEVICE STYLING //

.device {
    height: 550px;
    width: 1500px;
    background-color: rgb(236, 236, 236);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    border: 5px solid rgb(243, 243, 243);
    box-sizing: content-box;
    box-shadow: 7px 7px 0 2px darkgrey;
}

// POWER, SCOREBOARD AND FIRE LAZER BTN //

// LEFT SIDE //
.left-side {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(9, 1fr);
    align-items: center;
    justify-items: center;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    height: 100%;
    width: 240px;
}

.left-btns {
    position: relative;
    height: 60px;
    width: 140px;
    border-radius: 10px;
    background-color: darkgray;
    color: white;
    border: 3px solid rgb(158, 156, 156);
}

.power-btn {
    grid-column: 2 / 4;
    grid-row: 2;
    cursor: pointer;

    i {
        color: rgb(221, 68, 68);
        font-size: 30px;
        text-align: center;
        line-height: 50px;
        box-shadow: 2px 2px rgb(39, 38, 38);
    }
}

.scoreboard {
    position: relative;
    grid-column: 2 / 4;
    grid-row: 4;
    background-color: rgb(18, 84, 206);
    border: 3px solid rgb(110, 108, 108);
    border-top: 3px solid black;
    border-left: 3px solid black;
    border-radius: 0%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;

    span {
        position: absolute;
        // TRICK TO CENTER ELEMENTS POSITIONED ABSOLUTELY
        // top: 50%;
        // left: 50%;
        // transform: translate(-50%, -50%);
    }

    div {
        height: 10px;
        width: 10px;
        border: 1px solid rgb(241, 241, 86);
        opacity: 0.3;
    }
}

.space-btn {
    grid-column: 2 / 4;
    grid-row: 7;
    background-color: rgb(179, 38, 38);
    border-color: darkred;
    box-shadow: 2px 2px darkred;
    text-align: center;
    line-height: 60px;
}


// RIGHT SIDE //

.right-side {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(9, 1fr);
    height: 100%;
    width: 240px;
    align-items: center;
    justify-items: center;
}

    .restart {
        height: 60px;
        width: 140px;
        border-radius: 10px;
        background-color: darkgray;
        grid-column: 2 / 4;
        grid-row: 2;
        border: 3px solid rgb(158, 156, 156);
        box-shadow: 2px 2px rgb(39, 38, 38);
        text-align: center;
        cursor: pointer;
        
        i {
            line-height: 50px;
            color: rgb(34, 173, 76);
            font-size: 30px;
        }
    }

    .up {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        grid-column: 3;
        grid-row: 5;
        background-color: rgb(179, 38, 38);
        border: 2px solid darkred;
        box-shadow: 1px 1px;
        color: rgb(109, 35, 35);
        font-size: 30px;
        text-align: center;
        line-height: 45px;

        i {
            line-height: 45px;
        }
    }
    
    .down {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        grid-column: 2;
        grid-row: 6;
        background-color: rgb(179, 38, 38);
        border: 2px solid darkred;
        box-shadow: 1px 1px;
        color: rgb(109, 35, 35);
        font-size: 30px;
        text-align: center;
        line-height: 45px;
        
        i {
            line-height: 45px;
        }
    }

///////////////////
// MEDIA QUERIES //
///////////////////

@media only screen and (max-width: 1550px) {
    .device {
        height: 550px;
        width: 1200px;
    }

    // POWER, SCOREBOARD AND FIRE LAZER BTN //

    // LEFT SIDE //
    .left-side {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 100%;
        width: 90px;
    }

    .left-btns {
        width: 70px;
    }

    .space-btn {
        font-size: 20px;
        line-height: 25px;
    }

    // RIGHT SIDE //
    .right-side {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 90px;
        justify-content: space-evenly;
    }

    .restart {
        width: 70px;
    }

    .scoreboard {

        div {
            border: 0px solid white;
        }
    }
}