* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oxanium', cursive;
}

body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #05121f;
}

// start menu
.start-background {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.display-none {
    display: none;
}

.start-game {
    position: absolute;
    font-size: 70px;
    color: white;
}
// MENU, REFRESH BTN AND SCOREBOARD //

// LEFT SIDE //
.left-side {
    // display: flex;
    // flex-direction: column;
    // justify-content: space-evenly;
    // align-items: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(9, 1fr);
    align-items: center;
    justify-items: center;
    height: 100%;
    width: 240px;
}

.left-btns {
    position: relative;
    height: 60px;
    width: 140px;
    // border: 5px solid;
    border-radius: 10px;
    margin: 15px 0;
    background-color: darkgray;
    color: white;
    // border-color: rgb(119, 119, 119);
}

.power-btn {
    grid-column: 2 / 4;
    grid-row: 2;
}

.scoreboard {
    position: relative;
    grid-column: 2 / 4;
    grid-row: 3;
    background-color: rgb(18, 84, 206);
    border: 3px solid rgb(110, 108, 108);
    border-radius: 0%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;

    span {
        position: absolute;
        // TRICK TO CENTER ELEMENTS POSITIONED ABSOLUTELY
        // top: 50%;
        // left: 50%;
        // transform: translate(-50%, -50%);
    }

    div {
        height: 10px;
        width: 10px;
        border: 1px solid rgb(241, 241, 86);
        opacity: 0.3;
    }
}

.space-btn {
    grid-column: 2 / 4;
    grid-row: 7;
    background-color: rgb(179, 38, 38);
    border-color: darkred;
    box-shadow: 2px 2px darkred;
}


// RIGHT SIDE //

.right-side {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(9, 1fr);
    height: 100%;
    width: 240px;
    align-items: center;
    justify-items: center;

    .restart-btn {
        height: 60px;
        width: 140px;
        border-radius: 10px;
        background-color: darkgray;
        color: white;
        grid-column: 2 / 4;
        grid-row: 2;
    }

    .up-btn {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        grid-column: 3;
        grid-row: 5;
        background-color: rgb(179, 38, 38);
        border-color: darkred;
        box-shadow: 1px 1px;
    }
    
    .down-btn {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        grid-column: 2;
        grid-row: 6;
        background-color: rgb(179, 38, 38);
        border-color: darkred;
        box-shadow: 1px 1px;
    }
}

// MAIN GAME CONTAINER STYLES //

.device {
    height: 550px;
    width: 1500px;
    background-color: lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    border: 5px solid white;
    box-sizing: content-box;
    box-shadow: 10px 10px darkgrey;

}

.game-container {
    height: 520px;
    width: 1002px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border: 5px solid white;
    border-radius: 25px;
    box-shadow: 10px 10px lightgrey;
    box-sizing: content-box;
    background-image: url('../media/space_background2.png');
    background-size: cover;
}

.grid-box {
    height: 40px;
    width: 40px;
    // border: 1px solid white;
}  

.enemy {
    background-image: url('../media/enemy2.png');
    background-size: contain;
    // border: 3px solid red;
}

.hero {
    display: flex;
    align-items: center;
    background-image: url('../media/hero2.png');
    background-size: contain;
    background-repeat: no-repeat;
    // border: 3px solid green;
}

.laser {
    height: 25px;
    width: 40px;
    border-top: 2px solid red;
    border-bottom: 2px solid red;
}

// .screen-top-zone {
//     background-color: white;
// }

// .screen-bottom-zone {
//     background-color: purple;
// }

// .end-game-zone {
//     background-color: purple;
// }

///////////////////
// MEDIA QUERIES //
///////////////////

@media only screen and (min-width: 1300px) {
    // .menu {

    //     .main-menu {
    //         height: 100px;
    //         width: 200px;
    //         line-height: 100px;
    //         margin: 0 100px;
    //         font-size: 20px;
    //         border-radius: 25px;
    //     }
    // }
}