* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Oxanium', cursive;
}

body {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #05121f;
}

.device {
  height: 550px;
  width: 1500px;
  background-color: #ececec;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50px;
  border: 5px solid #f3f3f3;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  -webkit-box-shadow: 7px 7px 0 2px darkgrey;
          box-shadow: 7px 7px 0 2px darkgrey;
}

.left-side {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (1fr)[9];
      grid-template-rows: repeat(9, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  height: 100%;
  width: 240px;
}

.left-btns {
  position: relative;
  height: 60px;
  width: 140px;
  border-radius: 10px;
  background-color: darkgray;
  color: white;
  border: 3px solid #9e9c9c;
}

.power-btn {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / 4;
  -ms-grid-row: 2;
  grid-row: 2;
  cursor: pointer;
}

.power-btn i {
  color: #dd4444;
  font-size: 30px;
  text-align: center;
  line-height: 50px;
  -webkit-box-shadow: 2px 2px #272626;
          box-shadow: 2px 2px #272626;
}

.scoreboard {
  position: relative;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / 4;
  -ms-grid-row: 4;
  grid-row: 4;
  background-color: #1254ce;
  border: 3px solid #6e6c6c;
  border-top: 3px solid black;
  border-left: 3px solid black;
  border-radius: 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.scoreboard span {
  position: absolute;
}

.scoreboard div {
  height: 10px;
  width: 10px;
  border: 1px solid #f1f156;
  opacity: 0.3;
}

.space-btn {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / 4;
  -ms-grid-row: 7;
  grid-row: 7;
  background-color: #b32626;
  border-color: darkred;
  -webkit-box-shadow: 2px 2px darkred;
          box-shadow: 2px 2px darkred;
  text-align: center;
  line-height: 60px;
}

.right-side {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (1fr)[9];
      grid-template-rows: repeat(9, 1fr);
  height: 100%;
  width: 240px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.restart {
  height: 60px;
  width: 140px;
  border-radius: 10px;
  background-color: darkgray;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / 4;
  -ms-grid-row: 2;
  grid-row: 2;
  border: 3px solid #9e9c9c;
  -webkit-box-shadow: 2px 2px #272626;
          box-shadow: 2px 2px #272626;
  text-align: center;
  cursor: pointer;
}

.restart i {
  line-height: 50px;
  color: #22ad4c;
  font-size: 30px;
}

.up {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  -ms-grid-column: 3;
  grid-column: 3;
  -ms-grid-row: 5;
  grid-row: 5;
  background-color: #b32626;
  border: 2px solid darkred;
  -webkit-box-shadow: 1px 1px;
          box-shadow: 1px 1px;
  color: #6d2323;
  font-size: 30px;
  text-align: center;
  line-height: 45px;
}

.up i {
  line-height: 45px;
}

.down {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 6;
  grid-row: 6;
  background-color: #b32626;
  border: 2px solid darkred;
  -webkit-box-shadow: 1px 1px;
          box-shadow: 1px 1px;
  color: #6d2323;
  font-size: 30px;
  text-align: center;
  line-height: 45px;
}

.down i {
  line-height: 45px;
}

@media only screen and (max-width: 1550px) {
  .device {
    height: 550px;
    width: 1200px;
  }
  .left-side {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    height: 100%;
    width: 90px;
  }
  .left-btns {
    width: 70px;
  }
  .space-btn {
    font-size: 20px;
    line-height: 25px;
  }
  .right-side {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    width: 90px;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .restart {
    width: 70px;
  }
  .scoreboard div {
    border: 0px solid white;
  }
}

.start-screen {
  position: absolute;
  height: 520px;
  width: 1002px;
  border-radius: 25px;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.display-none {
  display: none;
}

.start-game {
  position: absolute;
  font-size: 40px;
  color: white;
  width: 70%;
  margin: 0 auto;
}

.start-game li {
  list-style: none;
  margin: 40px 0;
}

.game-container {
  height: 520px;
  width: 1002px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 5px solid #535353;
  border-radius: 25px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  background-image: url("../media/space_background2.png");
  background-size: cover;
  border-bottom: 5px solid grey;
  border-right: 5px solid grey;
  box-sizing: content-box;
}

.grid-box {
  height: 40px;
  width: 40px;
}

.enemy {
  background-image: url("../media/enemy2.png");
  background-size: contain;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("../media/hero2.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.laser {
  height: 25px;
  width: 40px;
  border-top: 2px solid red;
  border-bottom: 2px solid red;
}
/*# sourceMappingURL=styles.css.map */