* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oxanium', cursive;
}

body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #05121f;
}

// START MENU //

.start-screen {
    position: absolute;
    height: 520px;
    width: 1002px;
    border-radius: 25px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.display-none {
    display: none;
}

.start-game {
    position: absolute;
    font-size: 40px;
    color: white;
    width: 70%;
    margin: 0 auto;

    li {
        list-style: none;
        margin: 40px 0;
    }
}

// OUTER DEVICE STYLING //

.device {
    height: 550px;
    width: 1500px;
    background-color: rgb(236, 236, 236);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    border: 5px solid rgb(243, 243, 243);
    box-sizing: content-box;
    box-shadow: 7px 7px 0 2px darkgrey;
}

// POWER, SCOREBOARD AND FIRE LAZER BTN //

// LEFT SIDE //
.left-side {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(9, 1fr);
    align-items: center;
    justify-items: center;
    height: 100%;
    width: 240px;
}

.left-btns {
    position: relative;
    height: 60px;
    width: 140px;
    border-radius: 10px;
    background-color: darkgray;
    color: white;
    border: 3px solid rgb(158, 156, 156);
}

.fa-power-off {
    grid-column: 2 / 4;
    grid-row: 2;
    font-size: 30px;
    color: rgb(221, 68, 68);
    text-align: center;
    line-height: 60px;
    box-shadow: 2px 2px rgb(39, 38, 38);
    cursor: pointer;
}

.scoreboard {
    position: relative;
    grid-column: 2 / 4;
    grid-row: 4;
    background-color: rgb(18, 84, 206);
    border: 3px solid rgb(110, 108, 108);
    border-top: 3px solid black;
    border-left: 3px solid black;
    border-radius: 0%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;

    span {
        position: absolute;
        // TRICK TO CENTER ELEMENTS POSITIONED ABSOLUTELY
        // top: 50%;
        // left: 50%;
        // transform: translate(-50%, -50%);
    }

    div {
        height: 10px;
        width: 10px;
        border: 1px solid rgb(241, 241, 86);
        opacity: 0.3;
    }
}

.space-btn {
    grid-column: 2 / 4;
    grid-row: 7;
    background-color: rgb(179, 38, 38);
    border-color: darkred;
    box-shadow: 2px 2px darkred;
    text-align: center;
    line-height: 60px;
}


// RIGHT SIDE //

.right-side {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(9, 1fr);
    height: 100%;
    width: 240px;
    align-items: center;
    justify-items: center;
}

    .fa-undo-alt {
        height: 60px;
        width: 140px;
        border-radius: 10px;
        background-color: darkgray;
        color: rgb(34, 173, 76);
        grid-column: 2 / 4;
        grid-row: 2;
        font-size: 30px;
        text-align: center;
        line-height: 60px;
        border: 3px solid rgb(158, 156, 156);
        box-shadow: 2px 2px rgb(39, 38, 38);
        cursor: pointer;
    }

    .fa-caret-up {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        grid-column: 3;
        grid-row: 5;
        background-color: rgb(179, 38, 38);
        border: 2px solid darkred;
        box-shadow: 1px 1px;
        color: rgb(109, 35, 35);
        font-size: 30px;
        text-align: center;
        line-height: 45px;
    }
    
    .fa-caret-down {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        grid-column: 2;
        grid-row: 6;
        background-color: rgb(179, 38, 38);
        border: 2px solid darkred;
        box-shadow: 1px 1px;
        color: rgb(109, 35, 35);
        font-size: 30px;
        text-align: center;
        line-height: 45px;
    }


// MAIN GAME CONTAINER STYLES //

.game-container {
    height: 520px;
    width: 1002px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border: 5px solid rgb(83, 83, 83);
    border-radius: 25px;
    box-sizing: content-box;
    background-image: url('../media/space_background2.png');
    background-size: cover;
    border-bottom: 5px solid grey;
    border-right: 5px solid grey;
    box-sizing: content-box;
}

.grid-box {
    height: 40px;
    width: 40px;
    // border: 1px solid white;
}  

.enemy {
    background-image: url('../media/enemy2.png');
    background-size: contain;
    // border: 3px solid red;
}

.hero {
    display: flex;
    align-items: center;
    background-image: url('../media/hero2.png');
    background-size: contain;
    background-repeat: no-repeat;
    // border: 3px solid green;
}

.laser {
    height: 25px;
    width: 40px;
    border-top: 2px solid red;
    border-bottom: 2px solid red;
}

// .screen-top-zone {
//     background-color: white;
// }

// .screen-bottom-zone {
//     background-color: purple;
// }

// .end-game-zone {
//     background-color: purple;
// }

///////////////////
// MEDIA QUERIES //
///////////////////

@media only screen and (max-width: 1550px) {
    .device {
        height: 550px;
        width: 1200px;
    }

    // POWER, SCOREBOARD AND FIRE LAZER BTN //

    // LEFT SIDE //
    .left-side {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 100%;
        width: 90px;
    }

    .left-btns {
        width: 70px;
    }

    .space-btn {
        font-size: 20px;
        line-height: 25px;
    }

    // RIGHT SIDE //
    .right-side {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 90px;
        justify-content: space-evenly;
    }

    .fa-undo-alt {
        width: 70px;
    }

    .scoreboard {

        div {
            border: 0px solid white;
        }
    }
}