* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oxanium', cursive;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../media/space_background2.png');
    background-size: cover;
}

// start menu
.start-background {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.display-none {
    display: none;
}

.start-game {
    position: absolute;
    font-size: 70px;
    color: white;
}

// menu, refresh btn and scoreboard
.menu {
    display: flex;
    flex-direction: column;
}

.main-menu {
    height: 50px;
    width: 50px;
    position: relative;
}

.menu-color {
    color: white;
}

// main game container styles
.game-container {
    height: 520px;
    width: 1002px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

}

.grid-box {
    height: 40px;
    width: 40px;
    border: 1px solid white;
}  

.enemy {
    background-image: url('../media/enemy2.png');
    background-size: contain;
    border: 3px solid red;
}

.hero {
    display: flex;
    align-items: center;
    background-image: url('../media/hero2.png');
    background-size: contain;
    background-repeat: no-repeat;
    border: 3px solid green;
}

.laser {
    height: 25px;
    width: 40px;
    border-top: 2px solid red;
    border-bottom: 2px solid red;
}

// .screen-top-zone {
//     background-color: white;
// }

// .screen-bottom-zone {
//     background-color: purple;
// }

.end-game-zone {
    background-color: purple;
}